<body>
  <div className="App" class="app">
    <h1 id='app1'>TODO<span id='app2'>Recovery</span></h1>
    <div id="user_pass">
      <input #newpassword id='newpassword' type="password" placeholder='New Password' autocomplete="off" />
      <input #newpasswordconfirm id='passwordconfirm' type="password" placeholder='Confirm Password' autocomplete="off" />
    </div>
    <div id='recovery-div'>
      <button id='send-rec'
        (click)="changePassword(this.newpassword.value, this.newpasswordconfirm.value)">Send</button>
      <a id="backlogin" (click)="backLogin()">Back to Login</a>
    </div>
  </div>
</body>