<body>
    <div className="App" class="app">
      <h1 id='app1'>TODO<span id='app2'>Register</span></h1>
      <!-- <h2 id="pageTittle">Register</h2> -->
      <div id="user_pass">
        <input #registerEmail id='email' type="text" placeholder='Email' autocomplete="on"/>
        <input #registerUser id='user' type="text" placeholder='User' autocomplete="off"/>
        <input #registerPassword id='password' type="password" placeholder='Password' autocomplete="off"/>
      </div>
      <div id='login-div'>
        <button id='login' (click)="loginRedirect()">Login</button>
        <button id='register' (click)="register(this.registerEmail.value, this.registerUser.value, this.registerPassword.value)">Register</button>
      </div>
    </div>
  </body>