<header class="header">
    <div class="left-header">
        <button id="menubutton" type="button">
            <span id="menuicon" class="iconify" data-icon="mdi:menu"></span>
        </button>
        <div class="searchbar">
            <input id="search" type="search" autocomplete="off" placeholder="Search" />
            <span id="searchicon" class="iconify" data-icon="mdi:magnify"></span>
        </div>
    </div>

    <div class="center-header">
        <h1 class="title" id='t1'>TODO<span id='t2'>App</span></h1>
    </div>

    <div class="right-header">

    </div>
</header>

<body>
    <div class="coluna">
        <div class="mainHeader">
            <p class="hoje">Today</p>
            <p class="date">{{date | date:'EEE d MMMM'}}</p>
        </div>

        <div class="maincontent">
            <div class="input">
                <input id="inputodo" [(ngModel)]="inputodo"  type="text" placeholder="Enter a task name here..."/>
                <button id="create-todo-button" (click)="createTodo()">Send</button>
            </div>

            <li id="todos-list" *ngFor="let todo of todos">
                <span id="todo">{{todo.task}}</span>
            </li>
        </div>
    </div>
</body>