<nav class="header">
    <div class="left-header">

        <button id="menubutton" (click)="backToMain()" type="button">
            <span id="menuicon" class="iconify" data-icon="bx:menu" style="color: white;" data-width="25" data-height="25"></span>
        </button>

        <div class="searchbar">
            <input id="search" type="search" autocomplete="off" placeholder="Search" />
            <span id="searchicon" class="iconify" data-icon="mdi:magnify"></span>
        </div>
    </div>

    <div class="center-header">
        <h1 class="title" id='t1'>TODO<span id='t2'>App</span></h1>
    </div>

    <div class="right-header">
        <button id="logout-button" [matMenuTriggerFor]="beforeMenu">
            <span class="iconify" data-icon="mdi:account-cog" style="color: white;" data-width="25"
                data-height="25"></span>
        </button>

        <mat-menu #beforeMenu="matMenu" xPosition="before" class="baldin-e-everton-dupla-do-barulho">

            <input 
            #fileInput
            style="display: none;" 
            accept="image/*"
            type="file" 
            (change)="onFileSelected(fileInput)">

            <div mat-menu-item id="settingsItem" (click)="fileInput.click()">
                <div id="menu-settings">
                    <div id="image">
                        <img id="userimg" [src]="userProfilePicture" alt="">
                    </div>
                    <div id="userInformation">
                        <span #userLabel id="userLabel"></span>
                        <span #emailLabel id="emailLabel"></span>
                    </div>
                </div>
                
                <div id="settingsButton">
                    <span id="settings-icon" class="iconify" data-icon="carbon:settings" style="color: rgb(75, 75, 75);" data-width="20" data-height="18"></span>
                    <p>Settings</p>
                </div>
                
            </div>
            <mat-divider id="divider"></mat-divider>

            <div mat-menu-item id="menuItem" (click)="settingsTab()">
                <span id="settings-icon" class="iconify" data-icon="carbon:color-palette" style="color: rgb(75, 75, 75);" data-width="20" data-height="18"></span>
                <p id="themeLabel">Theme</p>
                <p>soon...</p>
            </div>

            <div mat-menu-item id="menuItem">
                <span id="settings-icon" class="iconify" data-icon="codicon:graph-line" style="color: rgb(75, 75, 75);" data-width="20" data-height="18"></span>
                <p id="activityLabel">Activity log</p>
                <p>soon...</p>
            </div>

            <div mat-menu-item id="menuItem">
                <span id="settings-icon" class="iconify" data-icon="ic:outline-queue" style="color: rgb(75, 75, 75);" data-width="20" data-height="18"></span>
                <p id="integrationsLabel">Integrations</p>
                <p>soon...</p>
            </div>
            <mat-divider id="divider"></mat-divider>

            <div mat-menu-item id="menuItem">
                <span id="settings-icon" class="iconify" data-icon="akar-icons:star" style="color: rgb(237, 157, 4);" data-width="20" data-height="18"></span>
                <p id="upgradeLabel">Upgrade to Pro</p>
            </div>
            <div mat-menu-item id="menuItem">
                <span id="settings-icon" class="iconify" data-icon="codicon:device-mobile" style="color: rgb(75, 75, 75);" data-width="20" data-height="18"></span>
                <p id="downloadLabel">Download app</p>
                <p>soon...</p>
            </div>
            <mat-divider id="divider"></mat-divider>

            <div mat-menu-item id="menuItem" (click)="logout()">
                <span id="logout-icon" class="iconify" data-icon="carbon:exit" style="color: rgb(75, 75, 75);" data-width="20" data-height="18" data-rotate="180deg"></span>
                <p>Log out</p>
            </div>
            <mat-divider id="divider"></mat-divider>

            <div mat-menu-item id="menuItem">
                <p class="version">v1234</p>
                <span id="divisor">.</span>
                <a id="wnew-label">What's new</a>
            </div>

        </mat-menu>

    </div>
</nav>



<div class="coluna">
    <div class="mainHeader">
        <p class="hoje">Today</p>
        <p class="date">{{date | date:'EEE d MMMM'}}</p>
    </div>

    <div class="maincontent">
        <div class="input">
            <input id="inputodo" (keyup.enter)="createTodo()" [(ngModel)]="inputodo" type="text" maxlength="62"
                placeholder="Enter a task name here..." />
            <button id="create-todo-button" (click)="createTodo()"><span class="iconify" id="button-icon"
                    data-icon="fluent:send-20-regular" data-width="25" data-height="25"></span></button>
        </div>

        <div id="todo-list" cdkDropListGroup *ngIf="!isLoaded; then mostrarLoaderSpinner else mostrarTodos">
            
        </div>

        <ng-template #mostrarLoaderSpinner>
            <div class="spinner">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>

        <ng-template #mostrarTodos>
            <div cdkDropList [cdkDropListData]="todos" (cdkDropListDropped)="drop($event)">
                <ul>
                    <li *ngFor="let todo of todos; index as i" class="todo-item" cdkDrag>
                        <div *ngIf="isItemEditMode(todo); then thenBlock else elseBlock">

                        </div>

                        <ng-template #thenBlock>
                            <input (after-if)="focusField(editTodo)" #editTodo class="inputEditTodo" type="text"
                                maxlength="62" [value]="todo.task"
                                (keyup.enter)="updateTodo(todo.id, editTodo.value)" />
                        </ng-template>

                        <ng-template #elseBlock>
                            <input class="todocheckbox" type="checkbox" [attr.id]="'todo' + i" name="todo"
                                (click)="isDoneCheckbox(todo.id, !todo.isDone)" [checked]="todo.isDone">
                            <label id="todolabel" [attr.for]="'todo' + i"
                                [attr.data-content]="todo.task">{{todo.task}}</label>
                        </ng-template>


                        <button class="edit-button" type="" (click)="toggleEditItem(todo)" [disabled]="todo.isDone">
                            <span class="iconify edit-icon" data-icon="akar-icons:edit" data-width="25"
                                data-height="25"></span>
                        </button>

                        <button class="delete-button" (click)="confirmDelete(todo.id)">
                            <span class="iconify delete-icon" data-icon="akar-icons:trash-can" data-width="25"
                                data-height="25"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </ng-template>

        <mat-paginator id="paginator" (page)="refreshTodos($event)" [length]='count' [pageSize]="12"
            [pageSizeOptions]="[12, 15, 20, 30]" showFirstLastButtons="true" aria-label="Select page">
        </mat-paginator>
    </div>
</div>