:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:host::ng-deep .mat-paginator-container {
    justify-content: center;
}

.header {
    display: flex;
    background-color: rgb(0, 93, 178);
    height: 45px;
    align-items: center;
    box-shadow: 0px 1px 3px rgb(0, 0, 0);

    &>div {
        flex: 1 1 100%; 
    }
}

.title {
    margin: auto;
}

body {
    max-height: 600px;
}

.coluna {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.maincontent {
    width: 100%;
    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.mainHeader {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.hoje {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
}

.date {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.555);
    font-size: 13px;
    margin: 7px 0 0 8px;
}

.input {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-bottom: 5px;
}


#inputodo {
    border: 0;
    outline: 0;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.185);
    padding: 10px 30px 13px 5px;
    width: 100%;
}

#t1 {
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.493);
}

#t2 {
    color: #ffa300;
    font-style: italic;
}

#menubutton {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0 5px 0 40px;
    outline: 0;
}

#menuicon {
    color: white;
    vertical-align: middle;
}

#menuicon:hover {
    cursor: pointer;
}

#searchicon {
    position: absolute;
    right: 160px;
    bottom: 4px;
    color: white;
    width: 50px;
    height: 22px;
}

#search {
    width: 100%;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.164);
    height: 30px;
    text-align: left;
    border: 0;
    padding: 0;
    color: white;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    padding-left: 33px;
}

#search::placeholder {
    color: rgba(255, 255, 255, 0.877);
}

.searchbar {
    display: flex;
    flex-direction: row;
    position: relative;
}

.left-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    list-style: none;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    margin: 0;
    min-height: 20px;
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap");

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

input[type=checkbox] {
    position: relative;
    width: 20px;
    height: 20px;
    color: #363839;
    border: 1px solid #bdc1c6;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

input[type=checkbox]::before {
    position: absolute;
    content: "";
    display: block;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

input[type=checkbox]:checked {
    color: #fff;
    border-color: #0c64e8;
    background: #0c64e8;
}

input[type=checkbox]:checked::before {
    opacity: 1;
}

input[type=checkbox]:checked~label::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

label {
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0.25em 0;
    padding-right: 50px;
    color: #3b3b3b;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


label::before {
    position: absolute;
    content: attr(data-content);
    color: #9c9e9f;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #363839;
    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    padding-bottom: 13px;
    padding-top: 13px;
}

.input {
    position: relative;
}

#create-todo-button {
    position: absolute;
    align-self: center;
    background-color: transparent;
    right: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 4px;
    width: 35px;
    height: 35px;
}

#create-todo-button:hover {
    background-color: #9c9e9f2f;
}

#button-icon {
    color: #777879;
}

.delete-button {
    color: #777879de;
    position: absolute;
    align-self: center;
    background-color: transparent;
    right: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
}

.delete-button:hover {
    color: crimson;
}

.edit-button {
    color: #777879de;
    position: absolute;
    align-self: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 4px;
    right: 37px;
    transition: 0.2s;
}

.edit-button:hover {
    color: #005db2;
}

.edit-button[disabled]:hover {
    color: #9c9e9f;
}

.delete-button:hover,
.edit-button:hover {
    background-color: #9c9e9f2f;
}

#todo-list {
    position: relative;
    flex: 1 1 auto;

    overflow: auto;
}

.todo-item .edit-button,
.todo-item .delete-button {
    opacity: 0;
    transition: 0.1s;
}

.todo-item:hover .edit-button,
.todo-item:hover .delete-button {
    opacity: 1;
}

.right-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logout-button {
    position: absolute;
    right: 0;
    margin-right: 40px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 4px;
}

.inputEditTodo {
    border: 0;
    outline: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 300;
    color: #3b3b3b;
}

.todocheckbox {
    margin: 0;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);

}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#paginator {
    border-top: 2px solid rgba(0, 0, 0, 0.185);
}

#menuItem {
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    align-items: center;
    max-height: 35px;
}


#wnew-label {
    color: rgb(0, 93, 178);
}

#divisor {
    padding: 0 5px 5px 5px;
    align-self: center;
}

#logout-icon, #settings-icon{
    margin-right: 10px;
}

::ng-deep .baldin-e-everton-dupla-do-barulho .mat-menu-content:not(:empty) {
    font-size: 21px;
    font-weight: 300;
	padding: 0;
    margin: 6px 0;
}

#settingsItem{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 75px;
    width: 275px;
    max-height: 75px;
    max-width: 275px;
}

#settingsButton{
    display: flex;
    flex-direction: row;
    max-height: 35px;
    align-content: center;
    text-align: center;
    align-items: center;
}

#userInformation{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    & > span {
        line-height: 17px;
    }
}

#menu-settings{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    max-height: 50px;
}

#userimg{
    border-radius: 100px;
    width: 46px;
    height: 46px;
    max-height: 46px;
    max-width: 46px;
}

#image{
    margin: 0 15px 0 3px;
    display: flex;
}

#userLabel{
    font-weight: bold;
}

#emailLabel{
    color: rgb(99, 99, 99);
    margin-top: 3px;
}

#divider{
    margin: 4px 0;
}

#themeLabel{
    padding-right: 130px;
}

#activityLabel{
    padding-right: 103px;
}

#integrationsLabel{
    padding-right: 98px;
}

#downloadLabel{
    padding-right: 83px;
}

.spinner {
    margin-top: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}