.header{
    display: flex;
    background-color: #005db2;
    height: 45px;
    align-items: center;
}

.header > div {
    flex: 1 1 100%;
}

.title {
    margin: auto;
}

body{

}

.coluna{
    width: 800px;
    flex-direction: column;
    margin: 0 auto;
}

.maincontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.mainHeader{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.hoje{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
}

.date{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.555);
    font-size: 13px;
    margin: 7px 0 0 8px;
}

.input{
    display: flex;
    position: relative;
    flex-direction: row;
}

#input-icon{
    position: absolute;
    right: 0;
    color: rgba(0, 0, 0, 0.322);
    cursor: pointer;
}

#inputodo{
    border: 0;
    outline: 0;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.185);
    padding: 10px 30px 13px 5px;
    width: 100%;
}

#todo{
    border: 0;
    outline: 0;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.185);
    padding: 10px 0 10px 5px;
    width: 100%;
}

#t1{
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

#t2{
    color: #ffa300;
    font-style: italic;
}

#menubutton{
    background-color: transparent;
    border: 0;
    padding: 0 ;
    margin: 0 0 0 15px;
    outline: 0;
}

#menuicon{
    color: white;
    width: 50px;
    height: 25px;
    vertical-align: middle;
}

#menuicon:hover{
    cursor: pointer;
}

#searchicon{
    position: absolute;
    right: 160px;
    bottom: 4px;
    color: white;
    width: 50px;
    height: 22px;
}

#search{
    width: 100%;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.164);
    height: 30px;
    text-align: left;
    border: 0;
    padding: 0;
    color: white;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    padding-left:33px;
}

#search::placeholder{
    color: rgba(255, 255, 255, 0.877);
}

.searchbar{
    display: flex;
    flex-direction: row;
    position: relative;
}

.left-header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
