<header class="header">
    <div class="left-header">
        <button id="menubutton" type="button">
            <span id="menuicon" class="iconify" data-icon="mdi:menu"></span>
        </button>
        <div class="searchbar">
            <input id="search" type="search" autocomplete="off" placeholder="Search" />
            <span id="searchicon" class="iconify" data-icon="mdi:magnify"></span>
        </div>
    </div>

    <div class="center-header">
        <h1 class="title" id='t1'>TODO<span id='t2'>App</span></h1>
    </div>

    <div class="right-header">
        <button id="logout-button" (click)="logout()">
            <span class="iconify" data-icon="icon-park-outline:logout" style="color: white;" data-width="25"
                data-height="25"></span>
        </button>
    </div>
</header>

<body>
    <div class="coluna">
        <div class="mainHeader">
            <p class="hoje">Today</p>
            <p class="date">{{date | date:'EEE d MMMM'}}</p>
        </div>

        <div class="maincontent">
            <div class="input">
                <input id="inputodo" (keyup.enter)="createTodo()" [(ngModel)]="inputodo" type="text" maxlength="62"
                    placeholder="Enter a task name here..." />
                <button id="create-todo-button" (click)="createTodo()"><span class="iconify" id="button-icon"
                        data-icon="fluent:send-20-regular" data-width="25" data-height="25"></span></button>
            </div>

            <div id="todo-list" cdkDropListGroup >
                <div
                    cdkDropList
                    [cdkDropListData]="todos"
                    (cdkDropListDropped)="drop($event)">
                    <ul>
                        <li *ngFor="let todo of todos; index as i" class="todo-item" cdkDrag>
                            <div *ngIf="isItemEditMode(todo); then thenBlock else elseBlock">
    
                            </div>
    
                            <ng-template #thenBlock>
                                <input (after-if)="focusField(editTodo)" #editTodo class="inputEditTodo" type="text"
                                    maxlength="62" [value]="todo.task"
                                    (keyup.enter)="updateTodo(todo.id, editTodo.value)" />
                            </ng-template>
    
                            <ng-template #elseBlock>
                                <input class="todocheckbox" type="checkbox" [attr.id]="'todo' + i" name="todo"
                                    (click)="isDoneCheckbox(todo.id, !todo.isDone)" [checked]="todo.isDone">
                                <label id="todolabel" [attr.for]="'todo' + i"
                                    [attr.data-content]="todo.task">{{todo.task}}</label>
                            </ng-template>
    
    
                            <button class="edit-button" type="" (click)="toggleEditItem(todo)" [disabled]="todo.isDone">
                                <span class="iconify edit-icon" data-icon="akar-icons:edit" data-width="25"
                                    data-height="25"></span>
                            </button>
    
                            <button class="delete-button" (click)="confirmDelete(todo.id)">
                                <span class="iconify delete-icon" data-icon="akar-icons:trash-can" data-width="25"
                                    data-height="25"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- <div id="todo-list" >
                <ul>
                    <li *ngFor="let todo of todos; index as i" class="todo-item">
                        <div *ngIf="isItemEditMode(todo); then thenBlock else elseBlock">

                        </div>

                        <ng-template #thenBlock>
                            <input (after-if)="focusField(editTodo)" #editTodo class="inputEditTodo" type="text"
                                maxlength="62" [value]="todo.task"
                                (keyup.enter)="updateTodo(todo.id, editTodo.value)" />
                        </ng-template>

                        <ng-template #elseBlock>
                            <input type="checkbox" [attr.id]="'todo' + i" name="todo"
                                (click)="isDoneCheckbox(todo.id, !todo.isDone)" [checked]="todo.isDone">
                            <label id="todolabel" [attr.for]="'todo' + i"
                                [attr.data-content]="todo.task">{{todo.task}}</label>
                        </ng-template>


                        <button class="edit-button" type="" (click)="toggleEditItem(todo)" [disabled]="todo.isDone">
                            <span class="iconify edit-icon" data-icon="akar-icons:edit" data-width="25"
                                data-height="25"></span>
                        </button>

                        <button class="delete-button" (click)="confirmDelete(todo.id)">
                            <span class="iconify delete-icon" data-icon="akar-icons:trash-can" data-width="25"
                                data-height="25"></span>
                        </button>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</body>