<h2 mat-dialog-title id="label1">Recovery Password</h2>

<div mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Accout Email</mat-label>
          <input type="text" #emailInput matInput placeholder="Ex. pat@example.com" cdkFocusInitial>
        </mat-form-field>
    </form> 
</div>

<div id="success-or-error">
    <label #message1 id="success1"></label>
    <label #message2 id="success2"></label>
</div>

<mat-dialog-actions id="actions" align="end">
    <button mat-button color="primary" (click)="SendMail(emailInput.value, message1, message2)">Send</button>
    <button mat-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>
